@import url("./normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/**variables globales*/
:root {
  /**convierte 1rem en base 10*/
  --over-font-size: 62.5%;

  /** colores base*/
}

html {
  font-size: var(--over-font-size);
  font-size: 14px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}

h1 {
  line-height: 1.6;
}

h1,
h2 {
  font-size: 3.2rem;
}

h2.contact_tittle {
  font-size: unset;
}

h2.main_tittle {
  font-size: 5rem;
  font-family: "Playfair", sans-serif;
}

h3 {
  font-size: 12px
}

h3.main_tittle-2 {
  text-align: center;
  font-size: xx-large;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
  /* también elimina la sangría */
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

li {
  margin-bottom: 6px;
}

/* FUNCIONES GENERALES */

.container {
  box-sizing: border-box;
  /* hace que los bordes queden internos al elemento */
  margin: 0 auto;
  /* centra el elemento */
  max-width: 100%;
  /* ancho maximo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-fluid {
  border: 1px solid orangered;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
}

/*HEADER*/

.header {
  border: 1px dotted red;
}

.header-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-top-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-top-left img {
  max-width: 5rem;
  height: auto;
}

.img-logo {
  height: 20rem;
}

.header-top-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-i {
  display: none;
}

ul.menu-main {
  display: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.nav-navbar {
  align-items: center;
  display: flex;
  height: 4.4rem;
  justify-content: center;
}

.menu__item {
  font-size: 2rem;
}

/* MAIN */

.main {
  flex: 1;
  height: auto;
}

.modelos-container {
  display: none;
}

.background-section {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 300px;
  color: aliceblue;
  margin-bottom: 100px;
}

.necklaces {
  background-image: url("/images/background-necklaces.webp");
}

.bracelets {
  background-image: url("/images/background-bracelets.png");
}

.earrings {
  background-image: url("/images/background-earrings.png");
}

.rings {
  background-image: url("/images/background-rings.png")
}

.partners-2 {
  display: grid;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.partners-2.container-image {
  justify-content: space-evenly;
}

/* FOOTER */

footer {
  width: 100%;
  margin: 0;
}

.container-footer {
  padding: 40px 10px;
}


/* Línea parcial sobre "Contacto" */
.container-contact::before {
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  background-color: #dcdcdc;
  margin: 2rem auto;
  /* centra y agrega separación */
}

/* Líneas parciales sobre y debajo de "¡Pongámonos en contacto!" */
.container-correo::before,
.container-correo::after {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: #dcdcdc;
  margin: 2rem auto;
}


.horario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto {
  text-align: center;
}

.texto p {
  margin: 0;
}

input[type="email"] {

  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 24px;
}

button[type=submit] {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  padding: 10px 43px;
  color: #fff;
  background-color: #141414;
  border: 1px solid transparent;
}

form.email-input {
  display: inline-flex;
  padding: 2rem 0 .5rem 0;
}

.container-redes-sociales-images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.redes-sociales-images {
    padding: 1rem;
    font-size: 1.5rem;
}

.img-logo-footer {
  width: 100%;
  max-width: 20rem;
  /* puedes ajustar el tamaño máximo según tu diseño */
  height: auto;
  margin: 0 auto 1rem auto;
  display: flex
}

.footer_container--bottom {
  display: inline-block;
  width: 100%;
  background-color: #cecbc7;
  padding: 3rem;
  grid-gap: 1rem;
}

.metodos-de-pago {
  display: flex;
  height: 21px;
}



/** Media Queries (break point)*/

@media (width > 567px) {}

@media (width > 768px) {
  .menu-main {
    align-items: center;
    display: flex;
    gap: .5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
  }

  ul.menu-main {
    display: flex;
    gap: 12rem;
    list-style: none;
    margin: 0;
    text-decoration: none;
  }

  .box-buttons {
    display: flex;
    gap: 1rem;
  }

  .footer_container.footer_container--bottom.inferior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (width > 1024px) {

  .header-i {
    display: unset;
  }

  .mobile {
    display: none;
  }

  .partners-2 {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
  }

  .partners-2.container-image {
    justify-content: space-evenly;
  }

  .modelos-container {
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30rem;
    margin: 0 auto 10rem auto;
    overflow: hidden;
    /* NO SE PARA QUE ES*/
  }

  .modelos-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
        rgba(0, 0, 0, 0.7) 0%,
        /* oscuro en el borde izquierdo */
        transparent 20%,
        /* se desvanece hacia el centro */
        transparent 80%,
        /* mantiene el centro limpio */
        rgba(0, 0, 0, 0.7) 100%
        /* oscuro en el borde derecho */
      );
    pointer-events: none;
    z-index: 2;
    /* NO SE PARA QUE ES*/
  }

  .carousel {
    /* border: 5px solid red; */
    display: flex;
    position: relative;
    overflow: hidden;
    /* NO SE PARA QUE ES*/
    z-index: 0;
    /* NO SE PARA QUE ES*/
    overflow-x: auto;
    /* NO SE PARA QUE ES*/
    overflow-y: hidden;
    /* NO SE PARA QUE ES*/
    scroll-behavior: smooth;
    anchor-name: --carousel;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    scroll-snap-type: x mandatory;
    /* NO SE PARA QUE ES*/
    -webkit-overflow-scrolling: touch;
    /* NO SE PARA QUE ES*/
  }

  .carousel::scroll-button(left),
  .carousel::scroll-button(right) {
    align-items: center;
    justify-content: center;
    position: fixed;
    /* NO SE PARA QUE ES*/
    position-anchor: --carousel;
    /* NO SE PARA QUE ES*/
    cursor: pointer;
    border: none;
    background-color: transparent; 
    font-family: Consolas;
    font-size: 3rem;
    color: #cecbc7;
    height: 60px;
    /* border-radius: 50%; */
    padding-bottom: .1em;
    z-index: 3;
    /* NO SE PARA QUE ES*/

  }

  .carousel::scroll-button(right) {
    /* ← / ↑ / ↓ / → */
    content: "→";
    position-area: right center;
    translate: -150%;
  }

  .carousel::scroll-button(left) {
    /* ← / ↑ / ↓ / → */
    content: "←";
    position-area: left center;
    translate: 150%;
  }

  .carousel::scroll-button(left):disabled,
  .carousel::scroll-button(right):disabled {
    opacity: .5;
    cursor: auto;
  }


  .carousel::-webkit-scrollbar {
    display: none;
  }

  .group {
    display: flex;
    flex-shrink: 0;
    width: max-content;
    scroll-snap-align: center;
    align-content: center;
    justify-content: center;
    gap: 0;
    /* animation: spin 30s infinite linear; */
  }

  .card {
    flex: 0 0 100vw;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    position: relative;
  }

  .modelos-container-img {
    width: 100%;
    height: calc(100vh - 6rem);
    object-fit: cover;
  }



  /* .modelos-container:hover .group {
  animation-play-state: paused;
} */

  .card h1 {
    position: absolute;
    display: block;
    font-family: "Playfair", sans-serif;
    font-size: 9rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  }

  .card1 h1 {
    color: #1b2c60;
  }

  .card2 h1 {
    color: #48341f;
    }
  .card3 h1 {
    color: #453222;
    }
  .card4 h1 {
    color: #fbf3e0;
    }
  .card5 h1 {
    color: #ffffff;
    }

  @keyframes spin {
    from {
      translate: 0;
    }

    to {
      translate: -100%;
    }
  }

  .modelos-container {
    display: flex;
    height: unset;
  }

  /* FOOTER */

  .container-footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-contact::before,
  .container-correo::before,
  .container-correo::after {
    display: none;
  }




  .footer_container.footer_container--top {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;
    margin: 40px 0;
  }

  .detalles.footer_container {
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
  }

  .metodos-de-pago {
    justify-content: flex-end;
    padding-right: 4rem;
  }
}

@media (width > 1200px) {}

@media (width > 1400px) {}

@media (width > 1600px) {}

@media (width > 1920px) {}