@import url("./normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**variables globales*/
:root {
  /**convierte 1rem en base 10*/
  --over-font-size: 62.5%;

  /** colores base*/
}

html {
  font-size: var(--over-font-size);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

h1 {
  line-height: 1.6;
}

h1,
h2 {
  font-size: 3.2rem;
}

a {
    text-decoration: none;
    color: black;
}


/* ul.menu-main {
  display: none;
} */

/*HEADER*/

.header {
  border: 1px dotted red;
}

.header-top {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.header-top-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-top-left img {
    max-width: 5rem;
    height: auto;
}

.header_tittle {
  text-align: center;
  font-size: 4rem;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;  
}

.header-top-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    }

.desktop {
    display: none;
}
    



.container {
  border: 1px dotted blue;
  box-sizing: border-box;
  /**hace que los bordes queden internos al elemento*/
  margin: 0 auto;
  /**centra el elemento*/
  max-width: 100%;
  /**ancho maximo*/
  padding: 0 .8rem;
  /** Distancia entre el contenido y el borde */
}

.container-fluid {
  border: 1px solid orangered;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
}

ul.menu-main {
  display: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.nav-navbar {
  align-items: center;
  display: flex;
  height: 4.4rem;
  justify-content: center;
}

.menu__item {
 font-size: 2rem;
}

.main {
  /* display: block; */
  flex: 1; /**flex: 1 0 auto*/
}

/**Header*/
/**Main*/
/**Aside*/
/**Footer*/

/** Media Queries (break point)*/
@media (width > 567px) {
     .container {
    max-width: 54rem;
    padding: 0 1.6rem;
  }

  /**Header*/
/**Main*/
/**Aside*/
/**Footer*/
}

@media (width > 768px) {
    .container {
    max-width: 100%;
    padding: 0 2.4rem;
  }
  
  .menu-main {
    align-items: center;
    display: flex;
    gap: .5rem;
    list-style: none;
    margin: 0;
    padding: 0;
   }

   ul.menu-main {
    display: flex;
    gap: 12rem;
    list-style: none;
    margin: 0;
    text-decoration: none;
    }

    .box-buttons {
    display: flex;
    gap: 1rem;
}
  /**Header*/
/**Main*/
/**Aside*/
/**Footer*/
}

@media (width > 1024px) {
     .container {
    max-width: 100%;
    padding: 0 4rem;
  }

  .desktop {
    display: unset;
  }
  .mobile {
    display: none;
  }
/**Header*/
/**Main*/
/**Aside*/
/**Footer*/

}

@media (width > 1200px) {
     .container {
    max-width: 100%;
    padding: 0 4rem;
  }

  /**Header*/
/**Main*/
/**Aside*/
/**Footer*/
}

@media (width > 1400px) {
     .container {
    max-width: 100%;
    padding: 0 4.8rem;
  }
  /**Header*/
/**Main*/
/**Aside*/
/**Footer*/
}

@media (width > 1600px) {
     .container {
    max-width: 144rem;
    padding: 0 5.4rem;
  }
  /**Header*/
/**Main*/
/**Aside*/
/**Footer*/
}

@media (width > 1920px) {
     .container {
    max-width: 160rem;
    padding: 0 6.4rem;
  }
  /**Header*/
/**Main*/
/**Aside*/
/**Footer*/
}
